.container > .graph-container {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 80px 104px;
}

.container > h2 {
    font-family: "Playfair Display";
    font-size: 2rem;
}

.container > .graph-container > .text-container > p{
    text-align: justify;
    /* margin: 0 50px 0 20px; */
    margin-left: 50px;
}

.container > .graph-container > .text-container {
    display: flex;
    flex-direction: column;
}
